@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype');
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

:root {
  --color-fd-primary: hsl(46, 80%, 33%);
  --color-fd-primary-dim: hsl(46, 64%, 42%);
}

.dark {
  --color-fd-background: hsl(0 0% 5%);
  --color-fd-foreground: hsl(60, 12%, 86%);
  --color-fd-card: hsl(0 0% 9.5%);
  --color-fd-card-foreground: hsl(60, 12%, 86%);
  --color-fd-primary: hsl(48, 60%, 67%);
  --color-fd-primary-dim: hsl(48, 50%, 60%);

  --text-sm--line-height: 1.5;
}

main.contents .prose {
  margin-bottom: calc(var(--spacing) * 8);
}

.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(var(--spacing) * 6);
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  padding-top: 0.75em;
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 6);
}

.prose :where(a:not([data-card])):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-fd-primary);
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 0.9em;
}

/*.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(14px * var(--tw-prose-size));
}

.prose :where(h2 code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 0.9em;
}

.prose :where(h3 code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 0.9em;
}*/

figure.shiki div.max-h-\[600px\] {
  max-height: none;
}

.shiki .line-error {
  background-color: color-mix(in srgb, var(--color-fd-error) 20%, transparent);
  border-inline-start: 2px solid var(--color-fd-error);
}

.shiki .line-warning {
  background-color: color-mix(in srgb, var(--color-fd-warning) 20%, transparent);
  border-inline-start: 2px solid var(--color-fd-warning);
}

aside#nd-sidebar > div > div > div > p {
  font-weight: 500;
}

aside#nd-sidebar > div > div > div > p:not(:nth-child(1)) {
  margin-top: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 4);
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
}

.custom-callout {
  border-radius: var(--radius-xl);
  padding: calc(var(--spacing) * 4);
}

.custom-callout > div:nth-child(1) {
  /* Hide vertical line */
  display: none;
}

.custom-callout > svg:nth-child(2) {
  /* Hide icon */
  display: none;
}

figure.shiki .text-\[0\.8125rem\] {
  font-size: inherit;
}

.mermaid-diagram > svg {
  min-width: var(--mermaid-min-width, auto);
}

@media (max-width: 639px) {
  .prose figure.shiki {
    margin-right: calc(var(--spacing) * -4);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .prose > figure.shiki {
    margin-inline: calc(var(--spacing) * -4);
    border-radius: 0;
    border-left: none;
    border-right: none;
  }


  .prose .mermaid-diagram {
    margin-right: calc(var(--spacing) * -4);
    padding-right: calc(var(--spacing) * 2);
  }

  .prose > .mermaid-diagram {
    margin-left: calc(var(--spacing) * -4);
    padding-left: calc(var(--spacing) * 2);
  }
}
